# Variables available to the client must be prefixed with NEXT_PUBLIC_

API_URL=http://localhost:8080/api
NEXT_PUBLIC_API_URL=http://localhost:8080/api

# Production (example)
# API_URL=/api
# NEXT_PUBLIC_API_URL=/api

# TODO: Temporary workaround until we have a proper authentication system
USER_ID=
NEXT_PUBLIC_USER_ID=
