x-dev: &dev
  profiles:
    - dev
  networks:
    - app
  working_dir: /usr/src/app
  restart: "no"

x-prod: &prod
  profiles:
    - prod
  networks:
    - app
  restart: unless-stopped

x-backend: &backend
  hostname: backend
  container_name: backend
  environment:
    GOOGLE_APPLICATION_CREDENTIALS: "/run/secrets/service-account-key.json"
    APP_HOST: "0.0.0.0"
    PORT: "8080"
    REDIS_ADDR: "redis:6379"
    REDIS_PASSWORD: ""
    GO_ENV: "development"
    LOG_LEVEL: "debug"
  env_file:
    - path: ./backend/.env
      required: false
  secrets:
    - source: service-account-key
      target: service-account-key.json

x-frontend: &frontend
  hostname: frontend
  container_name: frontend
  env_file:
    - path: ./frontend/.env
      required: false

x-nginx: &nginx
  build: ./nginx
  hostname: nginx
  container_name: nginx
  ports:
    - 80:80
    - 443:443

x-redis: &redis
  image: redis:8-alpine
  hostname: redis
  container_name: redis

services:
  backend-dev:
    <<: [*dev, *backend]
    image: golang:1.25
    ports:
      - 3000:3000
    volumes:
      - ./backend:/usr/src/app:ro
    depends_on:
      - redis-dev
    command: ["go", "run", "."]

  backend-prod:
    <<: [*prod, *backend]
    build: ./backend
    depends_on:
      - redis-prod

  frontend-dev:
    <<: [*dev, *frontend]
    image: node:24-alpine
    ports:
      - 8080:8080
    volumes:
      - ./frontend:/usr/src/app
    command: ["npm", "run", "dev"]

  frontend-prod:
    <<: [*prod, *frontend]
    build: ./frontend

  nginx-dev:
    <<: [*dev, *nginx]
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend-dev
      - frontend-dev

  nginx-prod:
    <<: [*prod, *nginx]
    depends_on:
      - backend-prod
      - frontend-prod

  redis-dev:
    <<: [*dev, *redis]
    ports:
      - "6379:6379"
    volumes:
      - cache:/data

  redis-prod:
    <<: [*prod, *redis]

volumes:
  cache:
    driver: local

networks:
  app:

secrets:
  service-account-key:
    file: ${GOOGLE_APPLICATION_CREDENTIALS:-./backend/service-account-key.json}
