.word-carousel-container {
  display: inline-flex;
  height: 1.5em;
  overflow: hidden;
  vertical-align: baseline;
  align-items: baseline;
}

.word-carousel {
  display: block;
  position: relative;
  font-weight: 600;
  color: hsl(var(--foreground));
}

.word-carousel-item {
  display: block;
  height: 1.5em;
  line-height: 1.5em;
  color: var(--primary);
}
